.container {
  height: 100%;
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4873f2+0,2196f3+50,4873f2+100 */
  background: #4873f2; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4873f2 0%, #2196f3 50%, #4873f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4873f2 0%,#2196f3 50%,#4873f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4873f2 0%,#2196f3 50%,#4873f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4873f2', endColorstr='#4873f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .middle {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
