.send-button {
  min-width: 95px !important;
  position: initial;
  margin-left: 10px !important;
}

.new-message-container {
  width: 100%;
  display: flex;
  align-items: flex-end;

  .new-message {
    margin-left: 0px;
  }
}
