@import './../../common';

.new-message-container {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  background: $dark-grey;
  color: white;

  .new-message {
    margin-left: 0px;
  }

  .send-button {
    min-width: 95px !important;
    position: relative;
    margin-left: 10px !important;
  }
}
