.connected-users {
  display: flex;
  padding: 0rem 0rem 0rem;
  background: #2d2d2d;
  color: white;
  padding-left: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    padding: 0px 5px;
    min-width: 65px;

    &:first-of-type {
      padding-left: 0px;
    }

    .username {
      margin-top: 5px;
      font-size: 12px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  border: 4px solid white;
  font-weight: bold;

  span {
    position: relative;
    top: -1px;
  }
}
